In [ ]:
#Создаем config для подключения к нашей базе данных с помощью имеющихся данных о сервере:

In [32]:
from configparser import ConfigParser
 
def read_db_config(filename='config.ini', section='mysql'):
    
    parser = ConfigParser()
    parser.read(filename)
 
    db = {}
    if parser.has_section(section):
        items = parser.items(section)
        for item in items:
            db[item[0]] = item[1]
    else:
        raise Exception('{0} not found in the {1} file'.format(section, filename))
 
    return db

In [34]:
from python_mysql_dbconfig import read_db_config
read_db_config()

{'database': 'python_mysql',
 'host': 'localhost',
 'password': 'root',
 'user': 'root'}

In [ ]:
#Проверяем возможность подключения к нашей базе данных:

In [66]:
from mysql.connector import MySQLConnection, Error
from python_mysql_dbconfig import read_db_config
 
def connect():
    db_config = read_db_config()
 
    try:
        print('Connecting to MySQL database...')
        conn = MySQLConnection(**db_config)
 
        if conn.is_connected():
            print('connection established.')
        else:
            print('connection failed.')
 
    except Error as error:
        print(error)
 
    finally:
        conn.close()
        print('Connection closed.')

if __name__ == '__main__':
    connect()

Connecting to MySQL database...
connection established.
Connection closed.

In [ ]:
#Модуль вызова данных из определенной таблицы нашей БД:

In [75]:
def iter_row(cursor, size=10):
    while True:
        rows = cursor.fetchmany(size)
        if not rows:
            break
        for row in rows:
            yield row
            
def query_with_fetchmany():
    try:
        dbconfig = read_db_config()
        conn = MySQLConnection(**dbconfig)
        cursor = conn.cursor()
 
        cursor.execute("SELECT * FROM books")
 
        for row in iter_row(cursor, 10):
            print(row)
 
    except Error as e:
        print(e)
 
    finally:
        cursor.close()
        conn.close()
        
if __name__ == '__main__':
    query_with_fetchmany()

(1, 'Bel and the Dragon ', '123828863494')
(2, 'Daughters of Men ', '1234404543724')
(3, 'The Giant on the Hill ', '1236400967773')
(4, 'Marsh Lights ', '1233673027750')
(5, 'Mr. Wodehouse and the Wild Girl ', '1232423190947')
(6, 'The Fairy Castle ', '1237654836443')
(7, 'The Girl Who Walked a Long Way ', '1230211946720')
(8, 'The Runaway ', '1238155430735')
(9, 'The Shrubbery ', '1237366725549')
(10, 'Tom Underground a play ', '1239633328787')
(11, 'Anemones of the British Coast ', '1233540471995')
(12, 'Ask to Embla poem-cycle ', '1237417184084')
(13, 'Cassandra verse drama ', '1235260611012')
(14, 'Chidiock Tichbourne ', '1230468662299')
(15, 'The City of Is ', '1233136349197')
(16, 'Cromwell verse drama ', '1239653041219')
(17, 'Debatable Land Between This World and the Next ', '1235927658929')
(18, 'The Fairy Melusina epic poem ', '1232341278470')
(19, 'The Garden of Proserpina ', '1234685512892')
(20, 'Gods Men and Heroes ', '1233369260356')
(21, 'The Great Collector ', '1237871538785')
(22, 'The Grecian Way of Love ', '1234003421055')
(23, 'The Incarcerated Sorceress ', '1233804025236')
(24, 'Last Tales ', '1231588537286')
(25, 'Last Things ', '1239338429682')
(26, 'Mummy Possest poem ', '1239409501196')
(27, 'No Place Like home ', '1239416066484')
(28, 'Pranks of Priapus ', '1231359225882')
(29, 'Ragnarök ', '1230741986307')
(30, 'The Shadowy Portal ', '1232294350642')
(31, 'Jan Swammerdam poem ', '1238329678939')
(32, "St. Bartholomew's Eve verse drama ", '1230082140880')
(33, 'Tales for innocents ', '1234392912372')
(34, 'Tales Told in November ', '1234549242464')
(35, 'Bel and the Dragon ', '1239374496485')
(36, 'Daughters of Men ', '1235349316660')
(37, 'The Giant on the Hill *** TEST ***', '1235644620578')
(38, 'Marsh Lights ', '1235736344898')
(39, 'Mr. Wodehouse and the Wild Girl ', '1232744187226')
(40, 'The Fairy Castle ', '1233729213076')
(41, 'The Girl Who Walked a Long Way ', '1237641884608')
(42, 'The Runaway ', '1233964452155')
(43, 'The Shrubbery ', '1231273626499')
(44, 'Tom Underground a play ', '1238441018900')
(45, 'In A Future Chalet School Girl: Mystery at Heron Lake ', '1231377433718')
(46, 'In Althea Joins the Chalet School: The Secret of Castle Dancing ', '1232395135758')
(47, 'In Carola Storms the Chalet School: The Rose Patrol in the Alps ', '1234185299775')
(48, 'In The Chalet School Goes To It: Gipsy Jocelyn ', '1234645928899')
(49, 'In Gay from China at the Chalet School: Indian Holiday and Nancy Meets a Nazi ', '1230275004688')
(50, 'In Jo Returns to the Chalet School: Cecily Holds the Fort and Malvina Wins Through ', '1230839327111')
(51, 'In Joey Goes to Oberland: Audrey Wins the Trick and Dora of the Lower Fifth ', '1237588408519')
(52, 'In The Chalet School and the Island: The Sea Parrot ', '1236495378720')
(53, 'In The Chalet School in Exile: Tessa in Tyrol ', '1236588981768')
(54, 'In The Mystery at the Chalet School: The Leader of the Lost Cause ', '1231308608691')
(55, "In The New Mistress at the Chalet School: King's Soldier Maid and Swords Crossed ", '1230312140169')
(56, 'In A Problem for the Chalet School: A Royalist Soldier-Maid and Werner of the Alps ', '1230967619568')
(57, 'In Three Go to the Chalet School: Lavender Laughs in Kashmir ', '1230127072745')
(58, 'In Tom Tackles the Chalet School: The Fugitive of the Salt Cave and The Secret House ', '1234238103911')
(59, 'In Two Sams at the Chalet School: Swords for the King! ', '1230886230089')
(60, 'In Maids of La Rochelle: Guernsey Folk Tales ', '1233675376783')
(61, 'Bacon Death ', '1236766330719')
(62, 'Breakfast First ', '1236432913317')
(63, 'The Culinary Dostoevski ', '1234582103529')
(64, 'The Egg Laid Twice ', '1236148226462')
(65, 'He Kissed All Night ', '1237321964604')
(66, 'A History of Nebraska ', '1239609581078')
(67, 'Hombre ', '1235105625585')
(68, "It's the Queen of Darkness Pal ", '1237435357811')
(69, 'Jack The Story of a Cat ', '1233766820792')
(70, 'Leather Clothes and the History of Man ', '1236346938182')
(71, 'Love Always Beautiful ', '1233800248087')
(72, 'Moose ', '1232083986943')
(73, 'My Dog ', '1236297974136')
(74, 'My Trike ', '1237550454699')
(75, 'The Need for Legalized Abortion ', '1238912644528')
(76, 'The Other Side of My Hand ', '1239707352212')
(77, 'Pancake Pretty ', '1234761413168')
(78, "Printer's Ink ", '1230702325223')
(79, 'The Quick Forest ', '1236002513635')
(80, 'Sam Sam Sam ', '1239666823646')
(81, 'The Stereo and God ', '1231316672178')
(82, 'UFO vs. CBS ', '1239778693754')
(83, 'Vietnam Victory ', '1237098200581')
(84, 'A Sudden Light', '9781439187036')
(89, 'Harry Potter And The Order Of The Phoenix', '9780439358071')
(90, 'Gone with the Wind', '9780446675536')
(91, 'Pride and Prejudice (Modern Library Classics)', '9780679783268')
(93, "Harry Potter And The Philosopher's Stone", '9781579187036')

In [ ]:
#Модуль вставки одной строки в определенную таблицу нашей БД:

In [74]:
from mysql.connector import MySQLConnection, Error
from python_mysql_dbconfig import read_db_config
 
def insert_book(title, isbn):
    query = "INSERT INTO books(title,isbn)""VALUES(%s,%s)"
    args = (title, isbn)
 
    try:
        db_config = read_db_config()
        conn = MySQLConnection(**db_config)
 
        cursor = conn.cursor()
        cursor.execute(query, args)
 
        if cursor.lastrowid:
            print('last insert id', cursor.lastrowid)
        else:
            print('last insert id not found')
 
        conn.commit()
    except Error as error:
        print(error)
 
    finally:
        cursor.close()
        conn.close()

def main():
    insert_book ("Harry Potter And The Philosopher's Stone",'9781579187036')

if __name__ == '__main__':
    main()

last insert id 93

In [ ]:
#Модуль вставки нескольких строк в определенную таблицу нашей БД:

In [76]:
from mysql.connector import MySQLConnection, Error
from python_mysql_dbconfig import read_db_config
 
def insert_books(books):
    query = "INSERT INTO books(title,isbn)""VALUES(%s,%s)"
 
    try:
        db_config = read_db_config()
        conn = MySQLConnection(**db_config)
 
        cursor = conn.cursor()
        cursor.executemany(query, books)
 
        conn.commit()
    except Error as e:
        print('Error:', e)
 
    finally:
        cursor.close()
        conn.close()

def main():
    books = [('Harry Potter And The Goblet of Fire', '9780432358071'),
             ('Harry Potter And The Prisoner of Azkaban', '9780432740071'),
             ('Harry Potter And The Half-Blood Prince', '9747319783268')]
    insert_books(books)

if __name__ == '__main__':
    main()

In [ ]:
#Модуль обновления данных из определенной таблицы нашей БД:

In [72]:
from mysql.connector import MySQLConnection, Error
from python_mysql_dbconfig import read_db_config
 
def update_book(book_id, title):

    db_config = read_db_config()
 
    query = """ UPDATE books
                SET title = %s
                WHERE id = %s """
 
    data = (title, book_id)
 
    try:
        conn = MySQLConnection(**db_config)
 
        cursor = conn.cursor()
        cursor.execute(query, data)
 
        conn.commit()
 
    except Error as e:
        print('Error:', e)
 
    finally:
        cursor.close()
        conn.close()
        
if __name__ == '__main__':
    update_book(37, 'The Giant on the Hill *** TEST ***')

In [ ]:
#Модуль удаления данных из определенной таблицы нашей БД:

In [73]:
from mysql.connector import MySQLConnection, Error
from python_mysql_dbconfig import read_db_config
 
def delete_book(book_id):
    db_config = read_db_config()
 
    query = "DELETE FROM books WHERE id = %s"
 
    try:
        conn = MySQLConnection(**db_config)
 
        cursor = conn.cursor()
        cursor.execute(query, (book_id,))
 
        conn.commit()
 
    except Error as error:
        print(error)
 
    finally:
        cursor.close()
        conn.close()

if __name__ == '__main__':
    delete_book(45)